.workers
  background-color: #fff
  padding: 20px 0
  &_pos
    position: relative
  &-slick 
    &_slide
      // border: 1px solid #000
      display: flex
      justify-content: center
    &_img
      max-width: 250px
      margin: 0 auto
    &_left
      border: 1px solid #999999
      width: 30px
      height: 30px
      padding: 3px 0 0 4px
      position: absolute
      left: -20px
      top: 50%
      color: #999999
      cursor: pointer
    &_right
      border: 1px solid #999999
      width: 30px
      height: 30px
      padding: 3px 0 0 8px
      position: absolute
      right: -20px
      top: 50%
      color: #999999
      cursor: pointer

  
@media screen and (max-width: 767px)
  .workers-slick_left, .workers-slick_right
    display: none 